---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Not Found"}>
	<div class="type">
		<h1>404!</h1>
		<p>You're lost! Here is an orca gif</p>
		<img src="/realorca.gif" alt="orca gif" />
	</div>
</Layout>
