---
import Layout from "../layouts/Layout.astro";
console.log('init page')
import { contentfulClient } from "../utils/contentful";
console.log('inited')
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const response = await contentfulClient.getEntries({
  content_type: "blogPost", 
  'fields.slug': Astro.params.slug,
  'metadata.tags.sys.id[all]': 'main'
})
const article = response.items[0].fields
const content = documentToHtmlString(article.article)

---

<Layout>
  <article>
    <h1 class="font-black text-7xl">{article.title}</h1>
    <div class="type">
      <article set:html={content}></article>
    </div>
  </article>
</Layout>
