---
import Layout from "../layouts/Layout.astro";

import { getEntryBySlug } from 'astro:content';

const response = await getEntryBySlug('main', 'home');

const { Content } = await response.render();
---

<Layout>
  <article>
    <h1 class="font-black sm:text-7xl break-words text-5xl">{response.data.title}</h1>
    <div class="type">
      <article>
        <Content />
      </article>
    </div>
  </article>
</Layout>
