---
import { ToggleDarkMode } from "../components/ToggleDarkMode.jsx";
import { Search } from "./Search.jsx";

import Menu from "../components/Menu.astro";
import "@fontsource-variable/quicksand";

import { getEntryBySlug } from "astro:content";

const response = await getEntryBySlug("main", "menu");
const menuItems = response.data.menu;
---

<header class="pb-10">
	<div class="flex flex-wrap justify-between p-3 border-b" id="header">
		<a href="/" class="logo px-2">peter mills.</a>
		<div class="flex gap-1 lg:gap-10 align-center place-items-center">
			<Search client:load />
			<ToggleDarkMode client:only />
			<Menu />
		</div>
	</div>
	<nav class="h-0 transition-all opacity-0 z-0" id="mainmenu">
		<ul
			class="flex flex-col gap-5 pt-5 grow justify-center items-end whitespace-nowrap px-10"
		>
			{
				menuItems.map((label) => {
					return (
						<li>
							<a href={label.url}>{label.title}</a>
						</li>
					);
				})
			}
		</ul>
	</nav>
</header>

<style lang="css">
	[astro-icon] {
		height: 2rem;
	}
	.logo {
		font-family: "Quicksand Variable", sans-serif;
		font-size: 2rem;
		font-weight: 700;
		/* spacing -1 */
		letter-spacing: -0.05em;
	}
</style>
