---
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import "@/styles/base.css";
import "@fontsource/inter";
import { Analytics } from "@vercel/analytics/react";
// import { ViewTransitions } from "astro:transitions";

const { title, articlePublished, description, tags, imageUrl } = Astro.props;
---

<script>
	if (
		localStorage.theme === "dark" ||
		(!("theme" in localStorage) &&
			window.matchMedia("(prefers-color-scheme: dark)").matches)
	) {
		document.documentElement.classList.add("dark");
	} else {
		document.documentElement.classList.remove("dark");
	}
</script>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<SEO
			title={title}
			titleTemplate="%s | peter mills"
			titleDefault="peter mills"
			description={description}
			charset="utf-8"
			openGraph={{
				basic: {
					title: description,
					type: "website",
					image: imageUrl || "/og.svg",
					url: "",
				},
				optional: {
					description: "",
					locale: "en_GB",
					siteName: "",
				},
				image: {
					secureUrl: imageUrl || "/og.svg",
					alt: "",
					width: 100,
					height: 100,
				},
				article: {
					publishedTime: articlePublished,
					tags: tags,
				},
			}}
			twitter={{
				card: "summary_large_image",
				title: title,
				description: description,
				image: imageUrl || "/og.svg",
				imageAlt: "",
			}}
		/>
		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<!-- <ViewTransitions /> -->
	</head>
	<body
		class="text-dark dark:text-light before:bg-[url('/images/background/skypainting.jpg')] before:bg-cover before:bg-fixed before:absolute relative before:inset-0 before:z-0 before:brightness-100 before:dark:brightness-50 before:brightness-200 lg:before:bg-[0em_-50em] before:transition transition"
	>
		<div class="min-h-screen flex flex-col relative">
			<Header class="border-b" />
			<main class="lg:px-64 xl:px-[32rem] px-5 grow z-10">
				<slot />
			</main>
			<footer class="text-center py-4 mt-20">
				{new Date().getFullYear() + " "} © All rights reserved.
			</footer>
			<Analytics client:only />
		</div>
	</body><style>
		.module {
			position: relative;
		}
		.module::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("/images/background/skypainting.jpg");
			background-size: cover;
			background-attachment: fixed;
		}
		.module-inside {
			position: relative;
		}
	</style>
</html>
